@media only screen and (max-width: 575px) {
  .btnContainer {
		width: 19rem;
	}

	.circular {
		width: 17rem;
		height: 17rem;
	}

	.timers .time {
		font-size: 4rem;
	}
	.pauseRestart {
		font-size: .9rem;
		letter-spacing: .7rem;
		margin-right: -.7rem;
	}

	.pauseRestart:hover {
		transform: scale(1);
	}
	
	/* MENU RESPONSIVE */
  .menuContainer {
    width: 19rem;
  }

  .menuContainer .menu {
    width: 19rem;
    height: 38rem;
  }

  .menuContainer .menu .timesSelector {
    height: 15.5rem;
  }

  .timesSelector .inputs {
    flex-direction: column;
  }
  .timesSelector .inputs input {
    margin: 0.2rem 0;
  }
  .pomodoroInput,
  .shortBreakInput,
  .longBreakInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .chevrons {
    left: 93%;
  }

  .chevrons1 {
    top: 15.5% !important;
  }
  .chevrons2 {
    top: 50.5% !important;
  }
  .chevrons3 {
    top: 83.5% !important;
  }

  .fontSelector {
		flex-direction: column;
    height: 8rem;
		padding: 2rem;
  }

	.fontSelector h2 {
		margin-bottom: 1rem;
	}

  .colorSelector {
    flex-direction: column;
    height: 8rem;
		padding: 1.5rem;
  }

  .colorSelector h3 {
    margin-bottom: 1.5rem;
  }

  .applyMenuBtn {
    top: 36.5rem;
    right: 6rem;
  }
}
